/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2019, 7:45:05 AM
    Author     : 97798
*/
.container p{
    color: green;
    font-style: italic;
    text-transform: capitalize;
    
    
}
.container h5{
    color: black;
}
.container h5 span{
    color: green;
    text-transform: capitalize;
}

